<div class="locations-section mb-5 pb-5" id="locations">
  <div class="page-width">
    <h2 class="text-center pricing-header mt-5 mb-4">
      {{ section.settings.title }}
    </h2>

    <div class='d-flex justify-content-around flex-row-wrap mb-5'>
      <div class='w-100'>
        <img class="lazyload lazypreload"
          src="{{ section.settings.main_location_image | image_url }}"
          alt="{{ section.settings.main_location_image.alt | escape }}"
        />
        <div class='rte location-caption my-4 text-center'>
          {{ section.settings.main_location }}
        </div>
        <!-- <div class="text-center my-5">
          <a href="/pages/book-appointment" class="logo-bar-book-session py-2 px-4">
            BOOK A SESSION
          </a>
        </div> -->
      </div>
    </div>

    <div class='row justify-content-around flex-row-wrap no-gutters'>
      <div class='col-12 col-md-6 px-0 pr-md-2 mb-2 mb-md-0 secondary-location'>
        <img class="lazyload lazypreload" src="{{ section.settings.second_location_image | image_url }}"
          alt="{{ section.settings.second_location_image.alt | escape }}" />
      </div>

      <div class='d-flex flex-column justify-content-between col-12 col-md-6 get-in-touch bg-pattern pl-4'>
        <div class="mb-0 mt-4">
          <h5 class='not-in-area mb-0'>
            Not in
          </h5>
          <h5 class='not-in-area'>
            your area?
          </h5>
        </div>
        <div class='get-in-touch-button mb-4 mr-2' data-toggle="modal" data-target="#contactModal">
          <img src="{{ "get-in-touch-icon.png" | asset_img_url }}" class="float-right get-in-touch-icon" />
        </div>
      </div>
    </div>

    <div class='row justify-content-around flex-row-wrap'>
      <div class='col-12 col-md-6 rte location-caption my-3 text-center'>
        {{ section.settings.secondary_location }}
      </div>
      <div class="col-12 col-md-6"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "pricing",
  "class": "pricing-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "main_location",
      "label": "Main Location Info"
    },
    {
      "type": "image_picker",
      "id": "main_location_image",
      "label": "Main Location Image"
    },
    {
      "type": "richtext",
      "id": "secondary_location",
      "label": "Second Location Info"
    },
    {
      "type": "image_picker",
      "id": "second_location_image",
      "label": "Second Location Image"
    }
  ],
  "presets": [
    {
      "name": "Locations",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
