<div class="non-homepage-container covid-container">
  <div class="page-width">
    <div class='covid-hero mt-2 mb-4'>
      <h1 class="covid-header mb-4">
        Covid-19 Guidelines
      </h1>
      <div class="covid-subtitle">
        <p>
          Hydra Studios is a clean and private wellness destination. The entire space is designed and operated with COVID-19 in mind.
        </p>
        <p>
          We are dedicated to our members, guests, and employees' health and safety and commit to the highest standards of
          cleanliness in our studio.
        </p>
      </div>
    </div>
  </div>
  <div class='covid-main-section py-4'>
    <div class="page-width">
      <div class='d-flex flex-wrap py-3 py-md-3 px-0 px-md-3 px-lg-5 my-5'>
        <div class='col-lg-9 col-12 align-self-center pr-5 covid-text-container'>
          <div class='bubble-left'></div>
          <h3 class="covid-section-header mb-4">
            Highest Standards of Cleanliness
          </h3>
          <p class="covid-section-text">
            We frequently disinfect all high touch surfaces throughout the space
            frequently and deep clean the entire studio multiple times per day.
            Hand sanitizer stations are provided in every room. Our showers and
            lockers are assigned and rotated to minimize shared contact and allow
            time to disinfect.
          </p>
        </div>
        <div class='col-lg-3 col-12 px-3 align-self-center text-center pt-5 pt-md-0'>
          <img class="covid-section-icon" src={{ "hand-wash-icon.png" | asset_img_url }} />
        </div>
      </div>

      <div class='d-flex flex-wrap py-3 my-3 flex-row-reverse px-0 px-md-3 px-lg-5'>
        <div class='col-lg-9 col-12 align-self-center text-right pl-5'>
          <h3 class="covid-section-header mb-4">
            Antimicrobial Surfaces
          </h3>
          <p class="covid-section-text">
            We've incorporated antimicrobial materials into our surfaces and fabrics,
            limiting the spread of hazardous microbes.
          </p>
        </div>
        <div class='col-lg-3 col-12 px-3 align-self-center text-center pt-5 pt-md-0'>
          <img class="covid-section-icon" src={{ "antimicrobial-icon.png" | asset_img_url }} />
        </div>
      </div>

      <div class='d-flex flex-wrap py-3 py-md-3 px-0 px-md-3 px-lg-5 my-5'>
        <div class='col-lg-9 col-12 align-self-center pr-5 covid-text-container'>
          <h3 class="covid-section-header mb-4">
            Touchless Check-Ins
          </h3>
          <p class="covid-section-text">
            Our touchless reservation and check-in system ensures minimal contact
            within the studio.
          </p>
        </div>
        <div class='col-lg-3 col-12 px-3 align-self-center text-center pt-5 pt-md-0'>
          <img class="covid-section-icon" src={{ "touchless-surface-icon.png" | asset_img_url }} />
        </div>
      </div>

      <div class='d-flex flex-wrap py-3 my-3 flex-row-reverse px-0 px-md-3 px-lg-5'>
        <div class='col-lg-9 col-12 align-self-center text-right pl-5 covid-text-container'>
          <div class='bubble-right'></div>
          <h3 class="covid-section-header mb-4">
            HEPA Air Filters
          </h3>
          <p class="covid-section-text">
            For additional ventilation, we've installed HEPA air filters into each
            private suite.
          </p>
        </div>
        <div class='col-lg-3 col-12 px-3 align-self-center text-center pt-5 pt-md-0'>
          <img class="covid-section-icon" src={{ "hepa-filter-icon.png" | asset_img_url }} />
        </div>
      </div>

      <div class='d-flex flex-wrap py-3 py-md-3 px-0 px-md-3 px-lg-5 my-5'>
        <div class='col-lg-9 col-12 align-self-center pr-5 covid-text-container'>
          <h3 class="covid-section-header mb-4">
            Hospital Grade Ventilation
          </h3>
          <p class="covid-section-text">
            Our studio has a brand new HVAC system, ensuring around two
            complete outdoor air changes per hour and eight supply air changes
            per hour. This is comparable to what hospital rooms require.
          </p>
        </div>
        <div class='col-lg-3 col-12 px-3 align-self-center text-center pt-5 pt-md-0'>
          <img class="covid-section-icon" src={{ "ventilation-icon.png" | asset_img_url }} />
        </div>
      </div>

      <div class='d-flex flex-wrap py-3 my-3 flex-row-reverse px-0 px-md-3 px-lg-5'>
        <div class='col-lg-9 col-12 align-self-center text-right pl-5'>
          <h3 class="covid-section-header mb-4">
            Cleaned Between Each Use
          </h3>
          <p class="covid-section-text">
            Our private fitness and wellness suites are thoroughly cleaned and
            sanitized between each use. We clean hard surfaces with CDC approved
            and EPA registered multi-surface cleaner disinfectant. All soft surfaces
            are sprayed with disinfectant for extra protection.
          </p>
        </div>
        <div class='col-lg-3 col-12 px-3 align-self-center text-center pt-5 pt-md-0'>
          <img class="covid-section-icon" src={{ "spray-icon.png" | asset_img_url }} />
        </div>
      </div>

      <div class='d-flex flex-wrap py-3 py-md-3 px-0 px-md-3 px-lg-5 my-5'>
        <div class='col-lg-9 col-12 align-self-center pr-5 covid-text-container'>
          <div class='bubble-left'></div>
          <h3 class="covid-section-header mb-4">
            Limited Capacity
          </h3>
          <p class="covid-section-text">
            With our concierge reservation system, we limit the number of people in
            our studio at one time to well under the required limit set by NYC's
            COVID guidelines. We screen and record every visitor to the space to
            ensure all government safety guidelines regarding symptoms, exposure,
            travel, and contact tracing are met.
          </p>
        </div>
        <div class='col-lg-3 col-12 px-3 align-self-center text-center pt-5 pt-md-0'>
          <img class="covid-section-icon" src={{ "limited-capacity-icon.png" | asset_img_url }} />
        </div>
      </div>

      <div class='d-flex flex-wrap py-3 my-3 flex-row-reverse px-0 px-md-3 px-lg-5'>
        <div class='col-lg-9 col-12 align-self-center text-right pl-5'>
          <h3 class="covid-section-header mb-4">
            Mask On
          </h3>
          <p class="covid-section-text">
            Every guest is required to wear an approved face-covering in public areas.
            We'll provide a suitable mask if the face-covering does not meet
            government requirements.
          </p>
        </div>
        <div class='col-lg-3 col-12 px-3 align-self-center text-center pt-5 pt-md-0'>
          <img class="covid-section-icon" src={{ "mask-icon.png" | asset_img_url }} />
        </div>
      </div>

      <div class="text-center pt-5 my-5">
        <a href="/pages/book-appointment" class="logo-bar-book-session py-2 px-4">
          BOOK A SESSION
        </a>
      </div>
    </div>

    <div class="my-5">
      <div class="page-width">
        <h2 class="text-center pricing-header mt-5 mb-2">
          STAY REFRESHED
        </h2>
        <div class="text-center instagram-subtitle mb-3">
          <a href="https://www.instagram.com/hydra_studios/" target="_blank">
            Connect on <img src={{ "instagram-camera-icon.png" | asset_url }} class="subtitle-instagram-icon ml-2 mb-1" />
          </a>
        </div>

        <div class='row flex-row-wrap mt-5'>
          <div class="col-lg-3 col-md-6 col-12 instagram-picture-container p-0">
            <a href="https://www.instagram.com/hydra_studios" target="_blank">
              <img class="lazyload lazypreload instagram-picture" src="{{ "instagram-image-1.jpg" | asset_url }}"
                alt="instagram-image-1" />
              <img src={{ "instagram-icon-white.png" | asset_url }} class="instagram-picture-icon" />
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-12 instagram-picture-container p-0">
            <a href="https://www.instagram.com/hydra_studios" target="_blank">
              <img class="lazyload lazypreload instagram-picture" src="{{ "instagram-image-2.jpg" | asset_url }}"
                alt="instagram-image-2" />
              <img src={{ "instagram-icon-white.png" | asset_url }} class="instagram-picture-icon" />
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-12 instagram-picture-container p-0">
            <a href="https://www.instagram.com/hydra_studios" target="_blank">
              <img class="lazyload lazypreload instagram-picture" src="{{ "instagram-image-3.png" | asset_url }}"
                alt="instagram-image-3" />
              <img src={{ "instagram-icon-white.png" | asset_url }} class="instagram-picture-icon" />
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-12 instagram-picture-container p-0">
            <a href="https://www.instagram.com/hydra_studios" target="_blank">
              <img class="lazyload lazypreload instagram-picture" src="{{ "instagram-image-4.jpg" | asset_url }}"
                alt="instagram-image-4" />
              <img src={{ "instagram-icon-white.png" | asset_url }} class="instagram-picture-icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>